<div class="main-content">
    <div class="container-fluid">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <img src="assets/img/faces/face-2.jpg" alt="" sizes="" srcset="">
                        </td>
                        <td>
                            <tr>
                                <button class="btn btn-infor btn-ma-r"  [routerLink]='["user-profile"]'>Sua</button>
                                <button class="btn btn-infor btn-ma-r">Xoa</button>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <img src="assets/img/faces/face-3.jpg" alt="" sizes="" srcset="">
                        </td>
                        <td>
                            <tr>
                                <button class=" btn btn-infor btn-ma-r"  [routerLink]='["user-profile"]'>Sua</button>
                                <button class=" btn btn-infor btn-ma-r">Xoa</button>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <img src="assets/img/faces/face-4.jpg" alt="" sizes="" srcset="">
                        </td>
                        <td>
                             <tr>
                                <button class="btn btn-infor btn-ma-r">Sua</button>
                                <button class="btn btn-infor btn-ma-r">Xoa</button>
                            </tr>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>