<div id="wapper" >
  <div class="col-xs-12 app-l">
    <div class="col-xs-4">
      <img src="../assets/public/img/books.png" alt="" width="100%" height="150px">
    </div>
    <div class="col-xs-8">
      <h4 class="name-app">
        <b>Name:</b> </h4>
      <p>
        <b>Version:</b> </p>
      <p>
        <b>Developer:</b> </p>
      <p>
        <b>Expired at:</b> </p>
      <p>
      <p>
        <b>Expired at:</b> </p>
      <p>
        <b>HDH:</b></p>
    </div>
  </div>
</div>

<table class="table table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Version</th>
      <th scope="col">HDH</th>
      <th scope="col">Update Date</th>
      <th scope="col">Developer</th>
      <th scope="col" >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button href="" class="text-success btn-success btn">Download</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a href="" class="text-success btn-success btn">Download</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a href="" class="text-success btn-success btn">Download</a>
      </td>
    </tr>
  </tbody>
</table>